<h1>Dashboard</h1>

<table id="dashboard" border="1" bgcolor="#fff" cellpadding="6">
  <tr>
	  <td valign="top">
		  <h3>
				Compliance Position by Product
			</h3>
			<img src="images/cpgraph.png" width="300" />
		</td>
		<td valign="top">

			<h3>
				Financial Summary
</h3>
			<table border="0" bgcolor="#ccc" cellpadding="20" cellspacing="10">
				<tr><td align="top">Total over-licenced cost</td><td>£1,203,321.00</td></tr>
				<tr><td align="top">Total under-licenced cost</td><td>£157,015.00</td></tr>
			</table>
  	</td>
	</tr>
	<tr>
		<td valign="top">
			<h3>
				Software Usage	
		</h3>
		<h4>Most under-utilised product</h4>
			<table border="0" bgcolor="#ccc" cellpadding="16" cellspacing="2">
							<tr><td></td><td>Product</td><td>Unused</td><td>Estimated Cost</td></tr>
							<tr><td>by volume</td><td>Microsoft Project</td><td>354</td><td>£75,566</td></tr>
							<tr><td>by percentage</td><td>Microsoft Visio</td><td>67%</td><td>£34,352</td></tr>
			</table>


		</td>
		<td valign="top">
			<h3>
				Risk Status	
			</h3>
		<h4>All products by RAG status</h4>
			<table border="0" bgcolor="#ccc" cellpadding="6" cellspacing="7">
							<tr><td><img src="images/spacer_40.gif"/></td><td><img src="images/spacer_40.gif"/></td></tr>
							<tr><td>121</td><td><img src="images/red_traffic_light.png"/></td></tr>
							<tr><td>37</td><td><img src="images/amber_traffic_light.png"/></td></tr>
							<tr><td>537</td><td><img src="images/green_traffic_light.png"/></td></tr>
			</table> &nbsp;
		</td>
	</tr>
</table>
