<h1>Devices</h1>
<p>
<%=h @devices.length %>
Devices
</p>

<% if @devices.blank? %>
				<p>There are no devices listed</p>
<% else %>
<% javascript "pagination" %>

<div id="devices">
<%= render :partial => 'devices' %>
</div>

<% end %>

<br />

<%= link_to 'New device', new_device_path %>
