%h1 Devices

- if @devices.blank?
  %p
    There are no devices listed
- else
  - javascript "pagination"

%div#devices
  = render :partial => 'devices' 
%br

= link_to 'New device', new_device_path 
