<h3>
				Asset CIO for
    <% @clients.each do |client| %>
			<%=h client.name %>
		<% end %>
</h3>


<h1>Welcome, Administrator</h1>
<p>It's <%= Time.now %>.
<%= pluralize(@total_users, "user") %>.
<%= link_to "Continue", :controller => "/" %>
</p>
