body {
  font-size: 8pt;
  color: blue;
  background: white;
  font-family: verdana,tahoma,arial,helvetica,sans-serif;
  margin: 20px;
  padding: 10px; }

p {
  font-size: 8pt;
  color: green; }

tr.list-line-odd {
  background: #ddffbb; }

tr.list-line-even {
  background: #ddffdd; }

#main {
  border: solid 1px blue;
  width: 940px;
  padding: 10px;
  margin: 4px;
  background: #fff; }
  #main div {
    float: left;
    border: solid 1px red; }
    #main div div {
      border: solid 1px yellow;
      margin: 4px;
      width: 185px;
      float: left; }
      #main div div div {
        border: solid 0px green;
        width: 200px;
        float: right; }
        #main div div div div {
          border: solid 1px purple;
          width: 200px;
          float: right; }

div.content {
  background: #eeffd3; }

.navbar {
  padding: 2px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  background-color: LightBlue; }

table.nav {
  padding: 0px;
  padding-left: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  margin: 2px;
  margin: 2px;
  border: solid 0px grey; }

td.nav {
  padding: 1px;
  padding-left: 6px;
  padding-right: 7px;
  margin: 2px;
  border: solid 1px grey;
  border-left: solid 1px grey; }
