body {
  font-size: 8pt;
  color: #333333;
  background: white;
  font-family: verdana,tahoma,arial,helvetica,sans-serif;
  margin: 10px;
  padding: 10px; }

h1 {
  font-size: 12pt;
  color: #22aa22; }

h2 {
  font-size: 11pt;
  color: #22aa22; }

#client h3 {
  font-size: 9pt;
  color: #22aa22; }

h3 {
  font-size: 9pt;
  color: #666666; }

h4 {
  font-size: 8pt;
  color: #22aa22; }

h5 {
  font-size: 7pt;
  color: #22aa22; }

h6 {
  font-size: 6pt;
  color: #22aa22; }

p {
  font-size: 8pt;
  color: gray; }

table.index_data {
  background-image: none;
  margin: 0px;
  border: 3px solid !tableheadercolor;
  padding: 0px;
  font-size: 7pt; }
  table.index_data tr {
    background-image: none; }
    table.index_data tr th {
      background: #22aa22;
      color: #e3e3e3;
      padding-left: 4px;
      padding-right: 4px;
      height: 32px; }
    table.index_data tr td {
      background-image: none;
      height: 26px; }
  table.index_data tr.list-line-odd {
    background: #e6e6e9; }
  table.index_data tr.list-line-even {
    background: #eeeef2; }

#appcontent div {
  font-size: 8pt;
  border: solid 0px red; }

#main {
  border: solid 1px blue;
  width: 940px;
  padding: 10px;
  margin: 4px;
  background: #fff; }
  #main div {
    float: left;
    border: solid 1px red; }
    #main div div {
      border: solid 1px yellow;
      margin: 4px;
      width: 185px;
      float: left; }
      #main div div div {
        border: solid 0px green;
        width: 200px;
        float: right; }
        #main div div div div {
          border: solid 1px purple;
          width: 200px;
          float: right; }

#content div {
  border: solid 1px blue;
  background: #fff; }

#user_nav {
  float: right;
  color: #666; }

.navbar {
  padding: 2px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  background-color: green; }

table.nav {
  padding: 0px;
  padding-left: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  margin: 2px;
  margin: 2px;
  border: solid 0px silver; }

td.nav {
  padding: 1px;
  padding-left: 6px;
  padding-right: 7px;
  margin: 2px;
  border: solid 1px silver;
  border-left: solid 1px silver; }

#dashboard table {
  padding: 2px;
  background-color: #e0e0e0;
  color: blue;
  border: solid 1px silver; }
  #dashboard table td {
    color: green;
    vertical-align: top;
    padding: 8px;
    background-color: #d0d0d0;
    border: solid 1px white; }
    #dashboard table td h3 {
      color: #22aa22; }
    #dashboard table td h4 {
      color: #666666; }

#dashboard_inner table th {
  background-color: #f3f3f3;
  color: #666690; }
#dashboard_inner table td {
  background-color: #f3f3f3;
  color: #666690; }
