body {
  font-size: 8pt;
  color: darkblue;
  background: white;
  font-family: verdana,tahoma,arial,helvetica,sans-serif;
  margin: 10px;
  padding:10px; }

h1 {
  font-size: 12pt; }

h2 {
  font-size: 11pt; }

h3 {
  font-size: 9pt; }

h4 {
  font-size: 8pt; }

h5 {
  font-size: 7pt; }

h6 {
  font-size: 6pt; }

p {
  font-size: 8pt;
  color: DarkBlue; }

p.flash_notice{
  color:green; }

p.flash_warn{
  color:orange; }

p.flash_error{
  color:red; }

tr.headline{
	background: lightblue; }

tr.list-line-odd {
  background: #bbcbee; }

tr.list-line-even {
  background: #ddedef; }

#main {
  border: solid 1px blue;
  width: 940px;
  padding: 10px;
  margin: 4px;
  background: #fff; }
  #main div {
    float: left;
    border: solid 1px red; }
    #main div div {
      border: solid 1px yellow;
      margin: 4px;
      width: 185px;
      float: left; }
      #main div div div {
        border: solid 0px green;
        width: 200px;
        float: right; }
        #main div div div div {
          border: solid 1px purple;
          width: 200px;
          float: right; }

div.content {
  background: #eff; }

#user_nav {
  float: right;
  font-size: 8pt; 
  padding: 2px;
  margin: 20px; }

.navbar {
  padding: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: #ccf; }

table.nav {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 0px;
  border: solid 0px gray; }

td.nav {
  padding: 1px;
  padding-left: 2px;
  padding-right: 4px;
  margin: 0px;
  border: solid 1px gray;
  border-left: solid 1px gray; }

table#dashboard{
  padding:2px;
	background-color:white;
  border: solid 1px lightblue;}	

table.dashboard1{
  padding:2px;
  padding:2px;
  margin:10px;
	background-color: white;
  border: solid 1px silver;}	

td.dashboard1{
  padding:20px;
  margin:10px;
	background-color: silver;
  border: solid 1px silver;}	
 
table.dashboard2{
  padding:2px;
  margin:1px;
	background-color: white;
  border: solid 1px silver;}	

td.dashboard2{
  padding:10px;
  margin:2px;
	background-color: silver;
  border: solid 1px silver;}	
 

table.dashboard3{
  padding:2px;
  margin:1px;
	background-color: white;
  border: solid 1px silver;}	

td.dashboard3{
  padding:10px;
  margin:2px;
	background-color: silver;
  border: solid 1px silver;}	
 

div.view_public{
				background-color: #ccf; }
div.view_authorised{
				background-color: #6bd; }
div.version{
				background-color: #6bd; 
				border: solid 1px silver; }

