<div class="product">
	<% new_or_existing = product.new_record? ? 'new' : 'existing' %>
	<% prefix = "publisher[#{new_or_existing}_task_attributes][]" %>

	<% fields_for prefix, product do |product_form| -%>
	<p>
	  Product: <%= product_form.text_field :name %>
		<%= link_to_function "remove", "$(this).up('.product').remove()" %>
	</p>
<% end -%>
</div>
