<h3>
				Asset CIO for
    <% @clients.each do |client| %>
			<%=h client.name %>
		<% end %>
</h3>

<h1>Publishers</h1>
<p> There are	<%=h @publishers_count %> publishers in total </p>

<% javascript "pagination" %>

<div id="publishers">
				<%= render :partial => 'publishers' %>
</div>

<br />

<%= link_to 'New publisher', new_publisher_path %>
