    <% @clients.each do |client| %>
			<%=h client.name %>
		<% end %>
<h1>Listing licences</h1>

<% javascript "pagination" %>

<div id="licences">
<%= render :partial => 'licences' %>
</div>

<br />

<%= link_to 'New licence', new_licence_path %>
