%p
  %b
    Sku:
  =h @licence.sku

%p
  %b
    Version ID:
  =h @licence.version_id

%p
  %b
    Identifying number:
  =h @licence.identifying_number

%p
  %b
    Country:
  =h @licence.country

%p
  %b
    Cal:
  =h @licence.cal

%p
  %b
    Licence type:
  =h @licence.licence_type

%p
  %b
    Term:
  =h @licence.term

%p
  %b
    Upgrade:
  =h @licence.upgrade

%p
  %b
    Term expiry date:
  =h @licence.term_expiry_date

%p
  %b
    Ci name:
  =h @licence.ci_name

%p
  %b
    Base licence:
  =h @licence.base_licence

%p
  %b
    Maintenance expiry:
  =h @licence.maintenance_expiry

%p
  %b
    Entitlement type:
  =h @licence.entitlement_type

%p
  %b
    Cost centre:
  =h @licence.cost_centre

%p
  %b
    Volume licence agreement number:
  =h @licence.volume_licence_agreement_number

%p
  %b
    Agreement location:
  =h @licence.agreement_location

%p
  %b
    Entitlement location:
  =h @licence.entitlement_location

%p
  %b
    Supplier:
  =h @licence.supplier

%p
  %b
    Supplier invoice number:
  =h @licence.supplier_invoice_number

%p
  %b
    Invoice date:
  =h @licence.invoice_date

%p
  %b
    Po number:
  =h @licence.po_number

%p
  %b
    Country of usage:
  =h @licence.country_of_usage

%p
  %b
    Product substitution rights:
  =h @licence.product_substitution_rights

%p
  %b
    Secondary rights:
  =h @licence.secondary_rights

%p
  %b
    Transferability:
  =h @licence.transferability

%p
  %b
    External licence transfer requirements:
  =h @licence.external_licence_transfer_requirements

%p
  %b
    Linkages:
  =h @licence.linkages

%p
  %b
    Total cost of line item:
  =h @licence.total_cost_of_line_item

%p
  %b
    Quantity:
  =h @licence.quantity

%p
  %b
    Unit:
  =h @licence.unit

%p
  %b
    Cost unit:
  =h @licence.cost_unit

%p
  %b
    Maintenance pa:
  =h @licence.maintenance_pa

%p
  %b
    Client id:
  =h @licence.client_id


= link_to 'Edit', edit_licence_path(@licence) |
= link_to 'Back', licences_path
