<% @publisher = Publisher.find @product.publisher_id %>

<h1>Product Versions</h1>
<h4><%= @publisher.name %> </h4>
<h4><%= @product.name %> </h4>

<% javascript "pagination" %>

<div id="versions">
<%= render :partial => 'versions' %>
</div>

<br/>
<%= link_to 'Back', products_path %>
