%h1 Product Version

%p
  %b
    Publisher:
  =h @publisher.name

%p
  %b
    Name:
  =h @product.name
%p
  %b
    Fullname:
  =h @product.fullname
%p
  %b
    Serial:
  =h @product.serial
%p
  %b
    Sku:
  =h @product.sku
%p
  %b
    Identifier:
  =h @product.identifier
%p
  %b
    Versions: 
  there are 
  =h @versions.length 
  versions of this product:

- count = 0

%div.habtm
  %table
    %tr
      %th
        &nbsp;
      %th
        Name 
      %th
        Full Name 
      %th
        Serial 
      %th
        Language 
    - for version in @versions
      - count += 1
      %tr
        %td
          =h count
        %td
          =h version.name
        %td
          =h version.fullname
        %td
          =h version.serial
        %td
          =h version.language

  %br
  %br
  = link_to 'Versions', product_versions_path(@product)
  %br
  %br
  = link_to 'Edit', edit_product_path(@product) |
  = link_to 'Back', products_path
